body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-collapse {
  border-top: none;
  border-bottom: none;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
  background-color: gray;
}
#nav-list a {
  color: #61122f;
  text-align: center;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */



/* HOME PAGE */
#chicken-content {
  background-color: #f6b319;
  text-align: center;
}
#beef-content {
  background-color: #f6b319;
  text-align: center;
}

#sushi-content {
  background-color: #f6b319;
  text-align: center;
}


/* END HOME PAGE */

